doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#000000")
        block title
        link(rel="stylesheet", href="css/style.css")
    body
        include partials/mymenu.pug
        block content


        include partials/myfooter.pug
        block footer
            script(src="js-compiled/bundle.js")
            script(src="js-compiled/main.js")