extends layout/template
block title
    title Dynamic Title

block content
    .box-img-header.e-wvw.e-hvh.e-hiiden.e-flex.e-rel
        img.img-header.e-wp.e-hp.e-img-fit(src="http://unsplash.it/1090")
        h1.h1-header.e-abs.t-white TITLE HEADER IMG
    
append footer
  script(src='/vendor/three.js')
